footer {
  text-align: center;
  margin-top: 50px;
}

.footTitle {
  font-size: 30px;
  font-family: "Caveat", sans-serif;
  margin: 50px 0;
}

.lightText {
  opacity: 0.5;
  width: 70%;
  margin: 30px auto;
}

.email {
  color: #bc976b;
  display: block;
  margin: 30px 0;
  margin-bottom: 50px;
}

.partialDate,
.fullDate {
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.more,
.less {
  color: #bc976b;
  cursor: pointer;
}

.more:hover,
.less:hover {
  filter: brightness(0.5);
}

.dateTable {
  color: rgb(100, 100, 100);
}

.dateTable td {
  padding: 5px;
  text-align: left;
}

.lessCell {
  display: flex;
}
